body {
  background-color: white;
  color: black;
}

button {
  margin: 3px;
}

#logOutput {
  margin-bottom: 10px;
  max-height: 200px;
  overflow: auto;
}

.log-item {
  margin: 1px 0 1px 0;
}

.log-item:last-of-type {
  border-bottom: none;
}

.prefix {
  font-weight: bold;
}

.error-item > .prefix {
  color: red;
}

.timestamp {
  font-size: 0.8em;
}

button {
  user-select: none;
}

button:active {
  border: 3px solid red;
}